html {
  background: url(../img/world-map-background.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body{
  font: 15px/2 Arial, Helvetica, sans-serif;
  padding:0;
  margin:0;
}

.container{
  width:85%
  margin:auto;
  overflow: hidden;
}

header ul{
  margin: 0;
  padding: 0;
}

header{
  background: rgba(0, 0, 0, 0.7);
  padding-top:0px;
  min-height: 70px;
  border-bottom: black 5px solid;
  border-top: black 5px solid;
}

header a{
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
}



header li{
  float:left;
  display:inline;
  padding: 0 20px 0 20px;
}

header #branding{
  float:left;
}

header #branding h1{
  margin-left: 10px;
  color: #ffffff;
}

header nav{
  float:right;
  margin-top: 35px;
}

header a:hover{
  color:#cccccc;
  font-weight: bold;
}

 body #homeintro h2{
  background: rgba(0, 0, 0, 0.5);
  text-align: center;
  margin-top: 100px;
  color: lightgrey;
  font-size: 20px;
  border-top: black 5px solid;
  border-bottom: black 5px solid;
}

body #about-title{
 background: rgba(0, 0, 0, 0.5);
 margin-top: 50px;
 text-align: left;
 padding-left: 120px;
 font: Arial, Helvetica;
 color: lightgrey;
 font-size: 15px;
 border-top: black 5px solid;
}

body #about-para{
 background: rgba(0, 0, 0, 0.5);
 margin-top: -20px;
 padding-top: 20px;
 text-align: left;
 padding-left: 200px;
 padding-right: 200px;
 font: Arial, Helvetica;
 color: lightgrey;
 font-size: 15px;
 border-bottom: black 5px solid;
}

body #about-para h4{
  display: inline;
}

body #about-para a{
  color: white;
}

body #maps-title{
 background: rgba(0, 0, 0, 0.5);
 margin-top: 50px;
 text-align: left;
 padding-left: 120px;
 font: Arial, Helvetica;
 color: lightgrey;
 font-size: 15px;
 border-top: black 5px solid;
}

body #maps-links{
  background: rgba(0, 0, 0, 0.5);
  margin-top: -20px;
  padding-top: 20px;
  text-align: left;
  padding-left: 200px;
  padding-right: 200px;
  font: Arial, Helvetica;
  color: lightgrey;
  font-size: 15px;
}

body #maps-links ul{
  list-style-type: none;
}

body #maps-links a{

  color: white;

}

body #maps-links-2{
  background: rgba(0, 0, 0, 0.5);
  margin-top: 0px;
  padding-top: 20px;
  text-align: left;
  padding-left: 200px;
  padding-right: 200px;
  font: Arial, Helvetica;
  color: lightgrey;
  font-size: 15px;
}

body #maps-links-3{
  background: rgba(0, 0, 0, 0.5);
  margin-top: 0px;
  padding-top: 20px;
  text-align: left;
  padding-left: 200px;
  padding-right: 200px;
  font: Arial, Helvetica;
  color: lightgrey;
  font-size: 15px;
  border-bottom: black 5px solid;
}

body #maps-links-2 ul{
  list-style-type: none;
}

body #maps-links-2 a{

  color: white;

}

body #maps-links-3 ul{
  list-style-type: none;
}

body #maps-links-3 a{

  color: white;

}

body #assault-links{
  display: inline-block;
  float:left;
}


body #sex-violence-links{
  display: inline-block;
  float:center;
  padding-left: 280px;
}

body #burglary-links{
  display: inline-block;
  float:right;
}

body #homicide-links{
  display: inline-block;
  float:left;
}

body #theft-links{
  display: inline-block;
  float:center;
  padding-left: 280px;
}

body #vehicle-theft-links{
  display: inline-block;
  float:right;
}

body #kidnap-links{
  display: inline-block;
  float:right;
}
body #robbery-links{
  display: inline-block;
  float:left;
}
body #domestic-burglary-links{
  display: inline-block;
  float:center;
  padding-left: 250px
}

body #time-title{
 background: rgba(0, 0, 0, 0.5);
 margin-top: 50px;
 text-align: left;
 padding-left: 120px;
 font: Arial, Helvetica;
 color: lightgrey;
 font-size: 15px;
 border-top: black 5px solid;
}

body #time-para{
 background: rgba(0, 0, 0, 0.5);
 margin-top: -20px;
 padding-top: 20px;
 text-align: left;
 padding-left: 200px;
 padding-right: 200px;
 font: Arial, Helvetica;
 color: lightgrey;
 font-size: 15px;

}

body #time-para img
{
  padding-left: 250px;
}
body #time-para h6
{
  padding-left: 250px;
  margin-top: -7.5px;
}

body #barchart1{

  background: rgba(0, 0, 0, 0.5);
  padding-top: 20px;
  margin-top: -23px;
  padding-left: 275px;
  padding-right: 200px;
  color: lightgrey;
  border-bottom: black 5px solid;
}

body #barchart1 a{
  color: white;
}


body #BarChartID170856b33a0a{
  margin-top: -350px;
  margin-bottom: -320px;
  overflow: auto;
  clip-path: inset(350px 0px 350px 0px);
  height: 1350px;
  width: 1000px;
}

body #PieChartID443c3ee33b33
{
  padding-left: 0px;
  margin-top: -100px;
  margin-bottom: -100px;
  clip-path: inset(100px 50px 100px 50px);
}
